/* 
.kitten-cont{
  background: url(../img/sunny-day.jpg) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
}

.cat{
  display: block;
  position: absolute;
  bottom:0;
  width: 100%;
  align-items: center;
  text-align: center;
}

img{
  width: 30%;
} 
*/